:root {
  --main-font: "SpoqaHanSansNeo-Regular";
  --bold-font-weight: 500;
  --button-font-weight: 700;
  --main-font-size: 18px;
  --sub-font-size: 16px;
}

html {
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

header a img {
  width: 238px;
  height: 74px;
  display: block;
  margin-bottom: 30px;
}

.userType {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 0;
}

.userType button {
  width: 50%;
  padding: 10px 0;
  border: 1px solid #c4c4c4;
  border-radius: 5px 5px 0 0;
  background-color: #f2f2f2;
  font-weight: var(--button-font-weight);
  font-size: var(--main-font-size);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.userType button.active {
  background-color: white;
  border-bottom: none;
  border-top: 1px solid #c4c4c4;
  z-index: 3;
}

.login {
  width: 550px;
  padding: 20px;
}

.loginFm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 0 0 8px 8px;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}

.loginFm input {
  width: 480px;
  padding: 15px;
  font-family: var(--main-font);
  font-size: var(--sub-font-size);

  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  background: transparent;
}

.inputs-login {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

select:focus,
input:focus {
  border-color: #21bf48;
}
.submitBtn {
  width: 480px;
  height: 60px;
  color: #fff;
  background-color: #21bf48;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin-bottom: 30px;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font);
}

.menu-options {
  width: 184px;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}

.menu-options a {
  text-decoration: none;
  font-family: var(--main-font);
  font-size: var(--sub-font-size);
  color: #333333;

  font-size: var(--sub-font-size);
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
label {
  font-family: var(--main-font);
  font-size: var(--sub-font-size);
  color: rgba(118, 118, 118, 1);
}
.inputs-join {
  width: 550px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  z-index: 2;
}
.seller-only {
  display: none;
  opacity: 0;
}

.seller-only active {
  display: block;
  opacity: 1;
}

.agreement {
  margin-top: 30px;
  width: 480px;
  font-family: var(--main-font);
  font-size: var(--sub-font-size);
}
.modal {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.joinFm input {
  width: 480px;
  height: 54px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.phoneNum {
  display: flex;
  width: 480px;
  flex-direction: row;
  justify-content: space-around;
}

#phoneNum-first,
#phoneNum-middle,
#phoneNum-last {
  width: 152px;
  height: 54px;
}
select#phoneNum-first {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: 50%;
}
select#phoneNum-first option {
  background-color: white;
  padding: 10px;
  color: black;
  font-size: 14px;
}
